name: Camoufox Python Version  # 这里的名称要和原来的区分开

on:
  schedule:
    - cron: '15 7,15,23 * * *' # 错开 15 分钟运行，避免冲突
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install System Dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -yqq install --no-install-recommends ffmpeg fonts-noto-cjk
          sudo npx playwright install-deps firefox

      - name: Install Camoufox
        run: |
          pip install -r requirements.txt
          python -m camoufox fetch

      - name: Run Script
        run: python main.py # 确保这里调用的是你的 Python 脚本
        env:
          EMAIL: ${{ secrets.EMAIL }}
          PASSWORD: ${{ secrets.PASSWORD }}
          PROXY_SERVER: ${{ secrets.PROXY_SERVER }}

      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: python-debug-data
          path: |
            recording.webm
            error_debug.png
