name: Camoufox Python Version  # 这里的名称要和原来的区分开

on:
  #schedule:
   # - cron: '15 7,15,23 * * *' # 错开 15 分钟运行，避免冲突
  #push:
   # branches: [ main ]
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install System Dependencies
        run: |
          sudo apt-get -qq update
          # 新增 xvfb
          sudo apt-get -yqq install --no-install-recommends ffmpeg fonts-noto-cjk xvfb
          sudo npx playwright install-deps firefox

      - name: Install Camoufox
        run: |
          pip install -r requirements.txt
          python -m camoufox fetch

      - name: Run Script with Xvfb
        # 使用 xvfb-run 启动脚本，模拟真实显示器
        run: xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" python main.py
        env:
          EMAIL: ${{ secrets.EMAIL }}
          PASSWORD: ${{ secrets.PASSWORD }}
          PROXY_SERVER: ${{ secrets.PROXY_SERVER }}
          # 将本地提取的 Cookie 放入 Secrets，命名为 COOKIES_JSON
          COOKIES_JSON: ${{ secrets.COOKIES_JSON }}

      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: python-debug-data
          path: |
            recording.webm
            error_debug.png
            before_turnstile.png
